.card{
    border: 1px solid lime;
    background-color: black;
    color: limegreen;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.info h3{
    display: flex;
    text-align: center;
}
.info p{
    display: flex;
    text-align: center;
}
div img{
    height: 100px;
    width: 100px;
}